html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
    padding: 0;
    margin: 0;
}

.clear-fix:after {
    clear: both;
}

.clear-fix:before,
.clear-fix:after {
    content: " ";
    display: table;
    visibility: hidden;
}

.dress-config__container {
    padding: 11px;
}

.dress-config,
.dress-config * {
    box-sizing: border-box;
}

.dress-config__silhouette-main-content {
    position: relative;
}

.dress-config__description {
    max-width: 638px;
}

.dress-config__description-text {
    padding: 0 11px;
    font-weight: lighter;
}

.tahiti-dress-slider {
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 250px;
    background: #fafafa;
}

@media only screen and (max-width: 767px) {

    .silhouette-sizes-aside {
        width: 110px;
        float: right;
    }

    .dress-config__silhouette-main-content {
        width: auto;
        float: none;
        margin-right: 110px;
    }
}

@media only screen and (min-width: 768px) {

    .dress-config {
        max-width: 1002px;
        margin: 0 auto;
    }

    #silhouette-section,
    #dress-configuration-options-section,
    #delivery-section {
        float: left;
        margin-bottom: 22px;
    }

    #silhouette-sizes-selection {
        float: left;
    }

    #silhouette-main-content {
        float: none;
    }

    #tissue-selection,
    #laces-selection,
    #flower-selection {
        float: left;
        margin-right: 22px;
    }

    #delivery-dropdown,
    #crafted-dropdown,
    #dress-description {
        float: left;
    }

    #total-price-bottom {
        display: none;
    }

    .silhouette-sizes-aside {
        width: 125px;
        float: left;
    }

    .dress-config__silhouette-main-content {
        width: auto;
        float: none;
        margin-left: 125px;
        margin-right: 39px;
    }

}
