tahiti-radio-group {
    display: block;
    margin-bottom: 22px;
}

.tahiti-radio-group__layout--text {
    padding-left: 11px;
}

.tahiti-radio-button__line {
    min-height: 22px;
    margin-bottom: 11px;
    padding: 0;
}

.tahiti-radio-button__label {
    display: block;
    position: relative;
    line-height: 22px;
}

.tahiti-radio-button__input {
    display: inline-block;
    width: 22px;
    height: 1px;
    opacity: 0;
}

.tahiti-radio-button__input--hidden {
    display: none;
}

.tahiti-radio-button__input:checked + .tahiti-radio-button__mark:after {
    opacity: 1;
}

.tahiti-radio-button__mark,
.tahiti-radio-button__mark:after {
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
}

.tahiti-radio-button__mark {
    width: 21px;
    height: 21px;
    left: 0;
    cursor: pointer;
    border: 1px solid black;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.tahiti-radio-button__mark:after {
    height: 14px;
    width: 14px;
    left: 50%;
    content: " ";
    background: #961326;
    opacity: 0;
    border: none;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tahiti-radio-button__text {
    cursor: pointer;
}

.tahiti-radio-button__tile {
    display: block;
    width: 46px;
    height: 46px;
    padding: 3px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.tahiti-radio-button__image {
    border: none;
    width: 38px;
    height: 38px;
    display: block;
}

.tahiti-radio-button__input:checked + .tahiti-radio-button__tile {
    padding: 2px;
    border: 2px solid #961326;
}

@media only screen and (max-width: 767px) {

    .tahiti-radio-group__layout--mobile-vertical .tahiti-radio-button__line {
        width: 100%;
    }

    .tahiti-radio-group__layout--mobile-horizontal .tahiti-radio-button__line {
        width: 16.666%;
        float: left;
    }

    .tahiti-radio-group__layout--mobile-horizontal .tahiti-radio-button__input {
        display: none;
    }

    .tahiti-radio-group__layout--mobile-horizontal .tahiti-radio-button__mark {
        top: 25%;
    }

    .tahiti-radio-group__layout--mobile-horizontal .tahiti-radio-button__text {
        display: block;
        margin-top: 22px;
    }
}

@media only screen and (min-width: 768px) {

    .tahiti-radio-group__layout--desktop-vertical .tahiti-radio-button__line {
        width: 100%;
    }

    .tahiti-radio-group__layout--desktop-vertical.tahiti-radio-group__layout--text .tahiti-radio-button__line {
        padding-top: 11px;
    }

    .tahiti-radio-group__layout--desktop-horizontal .tahiti-radio-button__line {
        width: 16.666%;
        float: left;
    }

}
