tahiti-dropdown-select {
    display: block;
    margin-bottom: 22px;
    margin-right: 11px;
}

.tahiti-dropdown-select__container {
    padding: 0 11px;
}

.tahiti-dropdown-select__content {
    display: block;
    position: relative;
    width: 100%;
    height: 33px;
    padding: 0;
}

.tahiti-dropdown-select__cover {
    display: block;
    position: relative;
    width: 99px;
    line-height: 31px;
    padding: 0 11px;
    border: 1px solid black;
}

.tahiti-dropdown-select__cover:after {
    display: block;
    content: '▼';
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
    height: 31px;
    background: #961326;
    color: white;
}

.tahiti-dropdown-select__control {
    display: block;
    position: absolute;
    width: 97px;
    left: 1px;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.tahiti-dropdown-select__cover,
.tahiti-dropdown-select__control {
    height: 33px;
}

.tahiti-dropdown-select__cover--large {
    width: 199px;
}

.tahiti-dropdown-select__control--large {
    width: 197px;
}

@media only screen and (max-width: 767px) {

    .tahiti-dropdown-select__control,
    .tahiti-dropdown-select__control--large {
        font-size: 50px;
    }

}
