tahiti-caption {
    display: block;
    position: relative;
}

.tahiti-caption {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 11px;
    height: 44px;
}

.tahiti-caption__icon {
    border: none;
    display: inline-block;
    width: 44px;
    height: 44px;
}

.tahiti-caption__text {
    vertical-align: top;
    line-height: 44px;
}

.tahiti-caption__info {
    color: #961326;
    font-size: 1rem;
    font-weight: bold;
    display: inline;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    left: 36px;
    top: 0;
}