tahiti-sizes-description {
    display: block;
}

.tahiti-sizes-description {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.667);
    padding: 0 0 0 11px;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.tahiti-sizes-description--off {
    display: none;
    opacity: 0;
}

.tahiti-sizes-description--off.tahiti-sizes-description--off-add,
.tahiti-sizes-description--off.tahiti-sizes-description--off-remove {
    display: block !important;
    opacity: 0;
}

.tahiti-sizes-description__table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

.tahiti-sizes-description__table thead {
    color: #961326;
    background: white;
}

.tahiti-sizes-description__table th {
    text-align: left;
    height: 44px;
    line-height: 44px;
}

@media only screen and (max-width: 767px) {

    .tahiti-sizes-description__table th {
        padding: 0 0 6px 0;
    }

    .tahiti-sizes-description__table td {
        padding: 0;
        height: 33px;
        line-height: 33px;
    }

}

@media only screen and (min-width: 768px) {

    .tahiti-sizes-description__table th {
        padding: 0 0 10px 0;
    }

    .tahiti-sizes-description__table td {
        padding: 0;
        height: 44px;
        line-height: 44px;
    }

}
