tahiti-dress-slider {
    display: block;
    position: relative;
}

.tahiti-dress-slider__canvas {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.tahiti-dress-slider__dress-image,
.tahiti-dress-slider__body-image{
    border: none;
}

.tahiti-dress-slider__dress-container,
.tahiti-dress-slider__dress-image,
.tahiti-dress-slider__body {
    position: absolute;
    left: 0;
    top: 0;
}

.tahiti-dress-slider__dress-image {
    border: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.tahiti-dress-slider__dress-image.ng-hide {
    opacity: 0;
}

.tahiti-dress-slider__dress-image--back {
    transform: scaleX(-1);
    filter: 'FlipH';
}

.tahiti-dress-slider__rotate {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {

    .tahiti-dress-slider__body,
    .tahiti-dress-slider__body-image,
    .tahiti-dress-slider__canvas,
    .tahiti-dress-slider__dress-image,
    .tahiti-dress-slider__dress-container {
        width: 125px;
        height: 250px;
    }

}

@media only screen and (min-width: 768px) {

    .tahiti-dress-slider__body,
    .tahiti-dress-slider__body-image,
    .tahiti-dress-slider__canvas,
    .tahiti-dress-slider__dress-image,
    .tahiti-dress-slider__dress-container {
        width: 200px;
        height: 400px;
    }

}
