<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Tahiti customize - Dress configuration</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.5/papaparse.min.js"></script>
    <script type="text/javascript"
            src="js/dress-config.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dress-config.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-caption.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-total-price.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-radio-group.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-dropdown-select.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-dress-slider.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-sizes-description.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<header style="display: block; height: 88px; background: #961326;"></header>
<main ng-app="DressConfigApp" class="dress-config__container">

    <article ng-controller="DressConfigCtrl" class="dress-config clear-fix">
        <section id="silhouette-section" class="clear-fix">
            <tahiti-radio-group id="silhouette-sizes-selection"
                                class="silhouette-sizes-aside"
                                caption-title="Taille"
                                caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073bb4ae8icon_size.png"
                                toggle-object="toggle"
                                toggle-key="sizesDescription"
                                mobile-layout="vertical"
                                items="lists.sizes"
                                ng-model="criteria.sizeId"></tahiti-radio-group>
            <div id="silhouette-main-content" class="dress-config__silhouette-main-content">
                <tahiti-total-price id="silhouette-section-price"
                                    class="tahiti-total-price--integrated"
                                    total="total"></tahiti-total-price>
                <tahiti-dress-slider criteria="criteria"
                                     initial-variant="front"
                                     sizes="lists.sizes"
                                     models="lists.models"
                                     tissues="lists.tissues"></tahiti-dress-slider>
                <tahiti-sizes-description class="tahiti-sizes-description"
                                          toggle="toggle"
                                          sizes="lists.sizes"></tahiti-sizes-description>
            </div>
        </section>
        <section id="dress-configuration-options-section" class="clear-fix">
            <tahiti-radio-group id="tissue-selection"
                                caption-title="Tissu"
                                caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073b5c9eaicon_palette.png"
                                tiles="true"
                                items="lists.tissues"
                                ng-model="criteria.tissueId"></tahiti-radio-group>
            <tahiti-radio-group id="laces-selection"
                                caption-title="Dentelle"
                                caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073b3f596icon_laces.png"
                                items="lists.laces"
                                ng-model="criteria.laceId"></tahiti-radio-group>
            <tahiti-radio-group id="flower-selection"
                                caption-title="Fleur"
                                caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073b22166icon_flower.png"
                                items="lists.flowers"
                                ng-model="criteria.flowerId"></tahiti-radio-group>
        </section>
        <section id="delivery-section" class="clear-fix">
            <tahiti-dropdown-select id="delivery-dropdown"
                                    caption-title="Livraison"
                                    caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073ae46bficon_delivery.png"
                                    large="true"
                                    items="lists.deliveries"
                                    ng-model="criteria.deliveryId"></tahiti-dropdown-select>
            <tahiti-dropdown-select id="crafted-dropdown"
                                    caption-title="Cousu"
                                    caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073b977bcicon_sewn.png"
                                    items="[{id: 'true', label: 'Oui'}, {id: 'false', label: 'Non'}]"
                                    ng-model="criteria.crafted"></tahiti-dropdown-select>
            <div id="dress-description" class="dress-config__description">
                <tahiti-caption caption-title="Description"
                                caption-icon="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073b051b5icon_description.png"></tahiti-caption>
                <p class="dress-config__description-text" ng-bind-html="description.getHtml()"></p>
            </div>
            <tahiti-total-price id="total-price-bottom"
                                class="tahiti-total-price--standalone"
                                total="total"></tahiti-total-price>
        </section>
    </article>

    <script id="/tahiti-caption.html" type="text/ng-template">
        <h2 class="tahiti-caption">
            <img ng-if="captionIcon"
                 ng-src="{{::captionIcon}}"
                 class="tahiti-caption__icon"
                 alt="{{::captionTitle}}"/>
            <span class="tahiti-caption__text" ng-bind="::captionTitle"></span>
            <sup class="tahiti-caption__info" ng-if="hasToggle()" ng-click="toggle()">?</sup>
        </h2>
    </script>

    <script id="/tahiti-radio-group.html" type="text/ng-template">
        <tahiti-caption caption-title="{{captionTitle}}"
                        caption-icon="{{captionIcon}}"
                        toggle-object="toggleObject"
                        toggle-key="{{toggleKey}}"></tahiti-caption>
        <ul class="tahiti-radio-group__layout clear-fix"
            ng-class="[
                'tahiti-radio-group__layout--desktop-' + local.desktopLayout,
                'tahiti-radio-group__layout--mobile-' + local.mobileLayout,
                'tahiti-radio-group__layout--' + (local.tiles ? 'tiled' : 'text')
            ]">
            <li ng-repeat="item in local.items track by $index"
                class="tahiti-radio-button__line">
                <label for="{{id + '-' + item.id}}-choice" class="tahiti-radio-button__label clear-fix">
                    <input id="{{id + '-' + item.id}}-choice"
                           ng-checked="item.id === local.selectedId"
                           ng-model="local.selectedId"
                           ng-class="{'tahiti-radio-button__input--hidden': local.tiles}"
                           ng-change="handleChange(item.id)"
                           type="radio"
                           class="tahiti-radio-button__input"
                           name="{{::id}}"
                           value="{{::item.id}}"/>
                    <span class="tahiti-radio-button__mark" ng-if="::(!local.tiles)"></span>
                    <span class="tahiti-radio-button__text" ng-if="::(!local.tiles)" ng-bind="::item.label"></span>
                    <span class="tahiti-radio-button__tile" ng-if="::local.tiles">
                        <img class="tahiti-radio-button__image" ng-src="{{imageUrl(item.icon.path)}}"/>
                    </span>
                </label>
            </li>
        </ul>
    </script>

    <script id="/tahiti-total-price.html" type="text/ng-template">
        <p class="tahiti-total-price__paragraph">
            <span>Prix</span>
            <span class="tahiti-total-price__amount"
                  ng-bind="total.amount | number:2"></span><span class="tahiti-total-price__currency"
                                                                 ng-bind="::total.currency"></span>
        </p>
    </script>

    <script id="/tahiti-dropdown-select.html" type="text/ng-template">
        <tahiti-caption caption-title="{{captionTitle}}" caption-icon="{{captionIcon}}"></tahiti-caption>
        <div class="tahiti-dropdown-select__container">
            <label for="{{id}}-select" class="tahiti-dropdown-select__content">
                <span ng-bind="local.selectedLabel()"
                      class="tahiti-dropdown-select__cover"
                      ng-class="{'tahiti-dropdown-select__cover--large' : large}"></span>
                <select id="{{id}}-select"
                        class="tahiti-dropdown-select__control"
                        ng-class="{'tahiti-dropdown-select__control--large': large}"
                        ng-model="local.selectedId"
                        ng-change="selectOption()">
                    <option ng-repeat="item in local.items track by $index"
                            ng-selected="item.id === local.selectedId"
                            ng-bind="::item.label"
                            value="{{::item.id}}">
                </select>
            </label>
        </div>
    </script>

    <script id="/tahiti-dress-slider.html" type="text/ng-template">
        <div class="tahiti-dress-slider__canvas">
            <div class="tahiti-dress-slider__dress-container" ng-show="criteria.tissueId" ng-cloak="">
                <img ng-repeat="tissue in tissues"
                     ng-src="{{canvasImageUrl(tissue.canvas.path)}}"
                     ng-show="tissue.id === criteria.tissueId"
                     ng-class="'tahiti-dress-slider__dress-image--' + getVariant()"
                     class="tahiti-dress-slider__dress-image"/>
            </div>
            <div class="tahiti-dress-slider__body">
                <img class="tahiti-dress-slider__body-image"
                     ng-src="{{modelImageUrl()}}"/>
            </div>
        </div>
        <button class="tahiti-dress-slider__rotate"
                type="button"
                ng-click="rotate()">
            <img class="tahiti-dress-slider__rotate_icon"
                 src="https://brandizi.fr/dress/cockpit/storage/uploads/2017/09/10/59b5073b7a056icon_rotate.png"/>
        </button>
    </script>

    <script id="/tahiti-sizes-description.html" type="text/ng-template">
        <table class="tahiti-sizes-description__table">
            <thead>
            <tr>
                <th>Epaules</th>
                <th>Hanche</th>
                <th>Long.</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="size in sizes">
                <td ng-bind="size.shouldersSize"></td>
                <td ng-bind="size.hipSize"></td>
                <td ng-bind="size.dressLength"></td>
            </tr>
            </tbody>
        </table>
    </script>

</main>
<footer style="display: block; height: 88px; background: black;"></footer>
</body>
</html>
