html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    padding: 11px;
}

.clear-fix:after {
    clear: both;
}

.clear-fix:before,
.clear-fix:after {
    content: " ";
    display: table;
    visibility: hidden;
}

.dress-config,
.dress-config * {
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {

    #silhouette-section-price-bottom {
        display: block;
    }

    .silhouette-sizes-aside {
        width: 110px;
        float: right;
    }

    .silhouette-main-content {
        width: auto;
        float: none;
        margin-right: 120px;
    }

}

@media only screen and (min-width: 768px) {

    #silhouette-section {
        float: left;
    }

    #dress-configuration-options {
        float: right;
    }

    #silhouette-sizes-selection,
    #silhouette-main-content {
        float: left;
    }

    #tissue-selection,
    #laces-selection,
    #flower-selection {
        float: left;
    }

    #delivery-section {
        clear: both;
    }

    #delivery-dropdown,
    #dress-description {
        float: left;
    }

    #silhouette-section-price-bottom {
        display: none;
    }
}

.silhouette-main-content {
    padding: 0 0 0 11px;
}

.dress-config__description {
    max-width: 500px;
}

.dress-config__description-text {
    padding: 0 11px;
    font-weight: lighter;
}

.tahiti-dress-slider {
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 250px;
    background: #fafafa;
}
