<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Tahiti customize - Dress configuration</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.5/papaparse.min.js"></script>
    <script type="text/javascript"
            src="js/dress-config.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dress-config.css"/>
</head>
<body>
<main ng-app="DressConfigApp">
    <article ng-controller="DressConfigCtrl" class="dress-config">
        <section id="silhouette-section">
            <tahiti-radio-group id="silhouette-sizes-selection"
                                class="silhouette-sizes-aside"
                                caption-title="Taille"
                                caption-icon="img/icon_size.png"
                                items="lists.sizes"
                                ng-model="criteria.sizeId"></tahiti-radio-group>
            <div id="silhouette-main-content">
                <tahiti-total-price id="silhouette-section-price"
                                    total="total"></tahiti-total-price>
                <div id="silhouette-section-image-slider"></div>
            </div>
        </section>
        <section id="dress-configuration-options">
            <tahiti-radio-group id="tissue-selection"
                                caption-title="Tissu"
                                caption-icon="img/icon_palette.png"
                                tiles="true"
                                items="lists.tissues"
                                ng-model="criteria.tissueId"></tahiti-radio-group>
            <tahiti-radio-group id="laces-selection"
                                caption-title="Dentelle"
                                caption-icon="img/icon_laces.png"
                                items="lists.laces"
                                ng-model="criteria.laceId"></tahiti-radio-group>
            <tahiti-radio-group id="flower-selection"
                                caption-title="Fleur"
                                caption-icon="img/icon_flower.png"
                                items="lists.flowers"
                                ng-model="criteria.flowerId"></tahiti-radio-group>
        </section>
        <section id="delivery-section">
            <tahiti-dropdown-select id="delivery-dropdown"
                                    caption-title="Livraison"
                                    caption-icon="img/icon_delivery.png"
                                    items="lists.deliveries"
                                    ng-model="criteria.deliveryId"></tahiti-dropdown-select>
        </section>
    </article>

    <script id="/tahiti-radio-group.html" type="text/ng-template">
        <h2 class="dress-config__radio-group-caption">
            <img ng-if="captionIcon"
                 ng-src="{{::captionIcon}}"
                 class="dress-config__radio-group-caption-icon"
                 alt="{{::captionTitle}}"/>
            <span ng-bind="::captionTitle"></span>
        </h2>
        <ul ng-class="
            [
                'dress-config__radio-group-layout--desktop-' + local.desktopLayout,
                'dress-config__radio-group-layout--mobile-' + local.mobileLayout
            ]">
            <li ng-repeat="item in local.items track by $index">
                <label for="{{id + '-' + item.id}}-choice">
                    <input id="{{id + '-' + item.id}}-choice"
                           ng-checked="item.id === local.selectedId"
                           ng-model="local.selectedId"
                           ng-change="handleChange(item.id)"
                           type="radio"
                           name="{{::id}}"
                           value="{{::item.id}}"/>
                    <span class="radio-button__mark" ng-if="::(!local.tiles)"></span>
                    <span class="radio-button__label" ng-if="::(!local.tiles)" ng-bind="::item.label"></span>
                    <span class="radio-button__tile" ng-if="::local.tiles">
                        <img ng-src="{{item.icon}}"/>
                    </span>
                </label>
            </li>
        </ul>
    </script>

    <script id="/tahiti-total-price.html" type="text/ng-template">
        <p class="dress-config__total-price">
            <span>Total&nbsp;&hyphen;</span>
            <span class="dress-config__total-price-amount" ng-bind="total.amount"></span>
            <span class="dress-config__total-price-currency" ng-bind="::total.currency"></span>
        </p>
    </script>

    <script id="/tahiti-dropdown-select.html" type="text/ng-template">
        <label for="{{id}}-select" class="dress-config__dropdown-select">
            <img ng-if="captionIcon"
                 ng-src="{{::captionIcon}}"
                 class="dress-config__dropdown-select-caption-icon"
                 alt="{{::captionTitle}}"/>
            <span ng-bind="::captionTitle"></span>
        </label>
        <select id="{{id}}-select" ng-model="local.selectedId" ng-change="selectOption()">
            <option ng-repeat="item in local.items track by $index"
                    ng-selected="item.id === local.selectedId"
                    ng-bind="::item.label"
                    value="{{::item.id}}">
        </select>
    </script>

</main>
</body>
</html>
