<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Tahiti customize - Dress configuration</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.5/papaparse.min.js"></script>
    <script type="text/javascript"
            src="js/dress-config.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dress-config.css"/>
    <link rel="stylesheet" type="text/css" href="css/tahiti-radio-group.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<header style="display: block; height: 88px; background: #961326; margin-bottom: 11px;"></header>
<main ng-app="DressConfigApp">
    <article ng-controller="DressConfigCtrl" class="dress-config">
        <section id="silhouette-section" class="clear-fix">
            <tahiti-radio-group id="silhouette-sizes-selection"
                                class="silhouette-sizes-aside"
                                caption-title="Taille"
                                caption-icon="img/icon_size.png"
                                mobile-layout="vertical"
                                items="lists.sizes"
                                ng-model="criteria.sizeId"></tahiti-radio-group>
            <div class="silhouette-main-content">
                <tahiti-total-price id="silhouette-section-price"
                                    total="total"></tahiti-total-price>
                <div id="silhouette-section-image-slider">
                    <div class="tahiti-dress-slider"></div>
                </div>
            </div>
        </section>
        <section id="dress-configuration-options">
            <tahiti-radio-group id="tissue-selection"
                                caption-title="Tissu"
                                caption-icon="img/icon_palette.png"
                                tiles="true"
                                items="lists.tissues"
                                ng-model="criteria.tissueId"></tahiti-radio-group>
            <tahiti-radio-group id="laces-selection"
                                caption-title="Dentelle"
                                caption-icon="img/icon_laces.png"
                                items="lists.laces"
                                ng-model="criteria.laceId"></tahiti-radio-group>
            <tahiti-radio-group id="flower-selection"
                                caption-title="Fleur"
                                caption-icon="img/icon_flower.png"
                                items="lists.flowers"
                                ng-model="criteria.flowerId"></tahiti-radio-group>
        </section>
        <section id="delivery-section">
            <tahiti-dropdown-select id="delivery-dropdown"
                                    caption-title="Livraison"
                                    caption-icon="img/icon_delivery.png"
                                    items="lists.deliveries"
                                    ng-model="criteria.deliveryId"></tahiti-dropdown-select>
        </section>
    </article>

    <script id="/tahiti-radio-group.html" type="text/ng-template">
        <h2 class="tahiti-radio-group__caption">
            <img ng-if="captionIcon"
                 ng-src="{{::captionIcon}}"
                 class="tahiti-radio-group__caption-icon"
                 alt="{{::captionTitle}}"/>
            <span class="tahiti-radio-group__caption-text" ng-bind="::captionTitle"></span>
        </h2>
        <ul class="tahiti-radio-group__layout clear-fix"
            ng-class="
            [
                'tahiti-radio-group__layout--desktop-' + local.desktopLayout,
                'tahiti-radio-group__layout--mobile-' + local.mobileLayout
            ]">
            <li ng-repeat="item in local.items track by $index"
                class="tahiti-radio-button__line">
                <label for="{{id + '-' + item.id}}-choice" class="tahiti-radio-button__label clear-fix">
                    <input id="{{id + '-' + item.id}}-choice"
                           ng-checked="item.id === local.selectedId"
                           ng-model="local.selectedId"
                           ng-class="{'tahiti-radio-button__input--hidden': local.tiles}"
                           ng-change="handleChange(item.id)"
                           type="radio"
                           class="tahiti-radio-button__input"
                           name="{{::id}}"
                           value="{{::item.id}}"/>
                    <span class="tahiti-radio-button__mark" ng-if="::(!local.tiles)"></span>
                    <span class="tahiti-radio-button__text" ng-if="::(!local.tiles)" ng-bind="::item.label"></span>
                    <span class="tahiti-radio-button__tile" ng-if="::local.tiles">
                        <img class="tahiti-radio-button__image" ng-src="{{item.icon}}"/>
                    </span>
                </label>
            </li>
        </ul>
    </script>

    <script id="/tahiti-total-price.html" type="text/ng-template">
        <p class="tahiti-total-price__paragraph">
            <span>Total&nbsp;&hyphen;</span>
            <span class="tahiti-total-price__amount" ng-bind="total.amount"></span>
            <span class="tahiti-total-price__currency" ng-bind="::total.currency"></span>
        </p>
    </script>

    <script id="/tahiti-dropdown-select.html" type="text/ng-template">
        <label for="{{id}}-select" class="dress-config__dropdown-select">
            <img ng-if="captionIcon"
                 ng-src="{{::captionIcon}}"
                 class="dress-config__dropdown-select-caption-icon"
                 alt="{{::captionTitle}}"/>
            <span ng-bind="::captionTitle"></span>
        </label>
        <select id="{{id}}-select" ng-model="local.selectedId" ng-change="selectOption()">
            <option ng-repeat="item in local.items track by $index"
                    ng-selected="item.id === local.selectedId"
                    ng-bind="::item.label"
                    value="{{::item.id}}">
        </select>
    </script>

</main>
<footer style="display: block; height: 88px; background: black; margin-top: 11px;"></footer>
</body>
</html>
